<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2> Products</h2>
<div class="container">
<div class="row">
  <% @products.each do |product| %>
  
   <% if product.image.present? %> 
    <div class="col-md-3">
     <%#= link_to  (image_tag product.try(:image).try(:src) ,:height=>"200",:width=>"200"), "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %>
       <%=  (image_tag product.try(:image).try(:src) ,:height=>"200",:width=>"200") %>


     <div class="row">
      <strong><%=product.title%></strong><br/>
      <strong>Rs.&nbsp;&nbsp;<strike><%=product.variants.first.compare_at_price%></strike></strong>&nbsp;&nbsp;
       <strong>Rs.&nbsp;&nbsp;<%=product.variants.first.price%></strong>
   </div>
   </div>
  <% end %>

  <% end %>
  </div>
</div>

